<!-- header banner -->
<div class="masthead">
  <div class="container">
    <div class="row">
      <div class="banner">
        <img src="/assets/pictures/logo.png" alt="logo" />
      </div>
    </div>
  </div>
</div>
<!-- Fixed navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{{#if is_home_active}} active {{/if}}"><a href="/">Home</a></li>
        <li class="dropdown {{#if is_classes_active}} active {{/if}}">
          <a href="classes" class="dropdown-toggle" data-toggle="dropdown" data-delay="200" role="button" aria-haspopup="true" aria-expanded="false">Classes</a>
        </li>
        <li class="dropdown {{#if is_yoga_active}} active {{/if}}">
          <a href="yoga" class="dropdown-toggle" data-toggle="dropdown" data-delay="200" role="button" aria-haspopup="true" aria-expanded="false">Yoga<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/yoga#vinyasa">Vinyasa Flow</a></li>
            <li><a href="/yoga#special">Special Yoga for Special Children</a></li>
          </ul>
        </li>
        <li class="{{#if is_aboutme_active}} active {{/if}}"><a href="aboutme">Bio</a></li>
        <li class="{{#if is_contact_active}} active {{/if}}"><a href="contact">Contact</a></li>
        <li class="{{#if is_events_active}} active {{/if}}"><a href="events">Yoga Holiday (Italy, 2018)</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
