<!-- <img class="img-responsive" src="/assets/pictures/szonja2.JPG" alt="szonja2" /> -->
<div class="outer-container container-fluid">
  <div class="inner-container">
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
    <div class="row">
      <div class="aboutme-image col-lg-6 col-md-6 col-sm-6">

          <img class="main-img img-responsive" src="/assets/pictures/szobor.jpg" alt="Szonja in india" />
          <div class="space row">
          <!-- potential text or just spacing -->
          </div>
      </div>

      <div class="general-text aboutme-text col-lg-6 col-md-6 col-sm-6">
        <p>
          <!-- <span class="first-line"></span> -->
            <i class="pink-text">Szonja is a London based Vinyasa Flow Yoga Teacher.</i> During the competitive university years and due to many other challenges, she felt that she needed something to keep her mind and body balanced and relaxed. That’s when she found yoga and her love of yoga had started. After her graduation as a CE Therapist she moved to London to challenge herself and gain more experience. Moving to London and living the capital’s hectic and fast paced lifestyle only made this connection stronger: yoga became her way of life.
        </p>
        <p>
          In 2015 she travelled to the beautiful Southern Spain to complete her 200hr Yoga Teacher Training in Vinyasa Flow and Hatha Yoga with Frog Lotus Yoga. Staying with FLY she is <i class="pink-text">studying to become a 500 hours trained yoga teacher (Currently 350hrs).</i>
        </p>
        <p>
          Continuous learning and enhancing her knowledge is an important part of Szonja’s life, she also is <i class="pink-text">trained in Hot Yoga, Chair Yoga, as well as Yoga Nidra and Restorative Yoga.</i>
        </p>
        <p>
          In 2016 she realized that it would be beneficial to connect her two main professions and passions: CE Therapy and yoga. She decided to become a <i class="pink-text">certified Special Yoga for Special Children teacher</i>. She had the honour to learn from Jo Manuel herself who is the Lead Practitioner and Founder of Special Yoga.
        </p>
        <p>
          Szonja has had a keen interest in sports since her childhood, she was a competitive swimmer and runner. She started yoga at the age of 20 in order to release stress, sleep better and keep herself fit. Currently she enjoys running, yoga on a daily basis.
        </p>

      </div>
    </div>
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
  </div>
</div>
