{{>header}}
<!-- <img class="img-responsive" src="/assets/pictures/szonja2.JPG" alt="szonja2" /> -->
<div class="outer-container container-fluid">
  <div class="inner-container">
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
    <div class="row">
      <div class="aboutme-image col-lg-6 col-md-6 col-sm-6">

          <img class="main-img img-responsive" src="/assets/pictures/szonja1.JPG" alt="meditate" />

      </div>
      <div class="general-text aboutme-text col-lg-6 col-md-6 col-sm-6">
        <p>
          <!-- <span class="first-line"></span> -->
            <i class="pink-text">Szonja is a London based ambitious Vinyasa Flow Yoga Teacher.</i> She graduated as a Conductor

            (Conductive Education) in Peto Institute (Peto András College) in Budapest, Hungary.
        </p>
        <p>
          <i class="pink-text">In 2015 she travelled to Spain to complete her 200hr Yoga Teacher Training</i> in Vinyasa Flow

          and Hatha Yoga with Frog Lotus International. During her course she gained knowledge of

          pregnancy yoga and restorative yoga as well.
        </p>
        <p>
          <i class="pink-text">In February 2016 she has also become a certified Special Yoga for Special Children teacher.</i> She had

          the honour to learn from Jo Manuel who is the Lead Practitioner and  Founder of Special Yoga Foundation.
        </p>
        <p>
          A few month later <i class="pink-text">she completed her Hot Yoga training</i> with Hot Zen Yoga in London.
        </p>
        <p>
          Szonja has had a keen interest in sports since her childhood, she was a competitive swimmer

          and runner. She started yoga 5 years ago in order to release stress, sleep better and keep herself fit.

          Currently she enjoys running and yoga on a daily basis.
        </p>

      </div>
    </div>
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
  </div>
  <p class="made-by">
    made by @katkelemen
  </p>
</div>
