{{>header}}
<!-- <img class="img-responsive" src="/assets/pictures/szonja2.JPG" alt="szonja2" /> -->
<div class="home-container container-fluid">
  <div class="inner-container">
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
    <div class="row">
      <div class="aboutme-image col-lg-6 col-md-6 col-sm-6">

          <img class="main-img img-responsive" src="/assets/pictures/szonja1.JPG" alt="meditate" />

      </div>
      <div class="general-text aboutme-text col-lg-6 col-md-6 col-sm-6">
        <p>
          <span class="first-line">Cupcake ipsum dolor sit amet.</span>  I love macaroon marzipan cookie cotton candy tiramisu soufflé. Icing dessert oat cake cookie gingerbread gummi bears.
          Jelly beans pastry cookie. Chocolate cake tiramisu icing sugar plum. Carrot cake brownie cake muffin powder.
          Macaroon croissant halvah sugar plum. Cupcake croissant pie toffee. Tiramisu topping dragée macaroon muffin chupa chups sweet marzipan bear claw.
          Biscuit lemon drops dragée cotton candy gingerbread sesame snaps gingerbread cupcake. Lollipop croissant lollipop candy canes jelly lollipop sweet pastry caramels. Muffin toffee carrot cake sesame snaps cake.
          Marzipan muffin carrot cake I love I love donut. Jelly-o fruitcake chocolate cake lemon drops cake brownie dessert wafer sweet. Gummi bears icing pudding cupcake pastry. Chocolate cake halvah topping cheesecake gummies jelly cupcake.
        </p>
      </div>
    </div>
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
  </div>
</div>
