{{>header}}
<!-- <img class="img-responsive" src="/assets/pictures/szonja2.JPG" alt="szonja2" /> -->
<div class="outer-container container-fluid">
  <div class="inner-container">
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
    <div class="row">
      <div class="next-class col-lg-6 col-md-6 col-sm-6">
        <p>
          <span class="first-line">Next classes</span>
        </p>
      </div>
    </div>

    <div class="general-text">
        <p style="text-align: center; font-size: 10px; color: #52a3f6">
          &#10052; &#10052; &#10052;
        </p>
        <p style="text-align: center; font-size: 20px; color: #52a3f6">
          See you in January!
        </p>
        <p style="text-align: center; font-size: 20px; color: #52a3f6">
          If you are longing for sunshine check out the <a href="/events" class="first-line">2017 Summer Retreat</a> in beautiful Italy!
        </p>
        <p style="text-align: center; font-size: 10px; color: #52a3f6">
          &#10052; &#10052; &#10052;
        </p>
    </div>
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>


    <div class="container">


      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#fitzrovia">Fitzrovia Community Centre</a></li>
        <li><a data-toggle="tab" href="#library">Friern Barnet Community Library</a></li>
      </ul>

      <div class="tab-content">
        <div id="fitzrovia" class="tab-pane fade in active">
          <div class="general-text agenda">
                         <div class="table-responsive">
                             <table class="table">
                                 <thead>
                                     <tr>
                                         <th>Dates 2017</th>
                                         <th>Time</th>
                                         <th rowspan="2">Class</th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <!-- Single event in a single day -->
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">05</div>
                                             <div class="dayofweek">Thursday</div>
                                             <div class="shortdate text-muted">January</div>
                                         </td>
                                         <td class="agenda-time">
                                             6:00 PM - 7:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">12</div>
                                             <div class="dayofweek">Thursday</div>
                                             <div class="shortdate text-muted">January</div>
                                         </td>
                                         <td class="agenda-time">
                                             6:00 PM - 7:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">26</div>
                                             <div class="dayofweek">Thursday</div>
                                             <div class="shortdate text-muted">January</div>
                                         </td>
                                         <td class="agenda-time">
                                             6:00 PM - 7:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">02</div>
                                             <div class="dayofweek">Thursday</div>
                                             <div class="shortdate text-muted">February</div>
                                         </td>
                                         <td class="agenda-time">
                                             6:00 PM - 7:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">09</div>
                                             <div class="dayofweek">Thursday</div>
                                             <div class="shortdate text-muted">February</div>
                                         </td>
                                         <td class="agenda-time">
                                             6:00 PM - 7:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">23</div>
                                             <div class="dayofweek">Thursday</div>
                                             <div class="shortdate text-muted">February</div>
                                         </td>
                                         <td class="agenda-time">
                                             6:00 PM - 7:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">02</div>
                                             <div class="dayofweek">Thursday</div>
                                             <div class="shortdate text-muted">March</div>
                                         </td>
                                         <td class="agenda-time">
                                             6:00 PM - 7:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">09</div>
                                             <div class="dayofweek">Thursday</div>
                                             <div class="shortdate text-muted">March</div>
                                         </td>
                                         <td class="agenda-time">
                                             6:00 PM - 7:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">16</div>
                                             <div class="dayofweek">Thursday</div>
                                             <div class="shortdate text-muted">March</div>
                                         </td>
                                         <td class="agenda-time">
                                             6:00 PM - 7:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">30</div>
                                             <div class="dayofweek">Thursday</div>
                                             <div class="shortdate text-muted">March</div>
                                         </td>
                                         <td class="agenda-time">
                                             6:00 PM - 7:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">20</div>
                                             <div class="dayofweek">Thursday</div>
                                             <div class="shortdate text-muted">April</div>
                                         </td>
                                         <td class="agenda-time">
                                             6:00 PM - 7:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">27</div>
                                             <div class="dayofweek">Thursday</div>
                                             <div class="shortdate text-muted">March</div>
                                         </td>
                                         <td class="agenda-time">
                                             6:00 PM - 7:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                   </tbody>
                                 </table>
                             </div>
             </div>
             <!-- sima naptar 2 end -->
        </div>
        <div id="library" class="tab-pane fade">
          <div class="general-text agenda">
                         <div class="table-responsive">
                             <table class="table">
                                 <thead>
                                     <tr>
                                         <th>Dates 2017</th>
                                         <th>Time</th>
                                         <th rowspan="2">Class</th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <!-- Single event in a single day -->
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">10</div>
                                             <div class="dayofweek">Tuesday</div>
                                             <div class="shortdate text-muted">January</div>
                                         </td>
                                         <td class="agenda-time">
                                             7:00 PM - 8:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">24</div>
                                             <div class="dayofweek">Tuesday</div>
                                             <div class="shortdate text-muted">January</div>
                                         </td>
                                         <td class="agenda-time">
                                             7:00 PM - 8:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">07</div>
                                             <div class="dayofweek">Tuesday</div>
                                             <div class="shortdate text-muted">February</div>
                                         </td>
                                         <td class="agenda-time">
                                             7:00 PM - 8:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">21</div>
                                             <div class="dayofweek">Tuesday</div>
                                             <div class="shortdate text-muted">February</div>
                                         </td>
                                         <td class="agenda-time">
                                             7:00 PM - 8:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">07</div>
                                             <div class="dayofweek">Tuesday</div>
                                             <div class="shortdate text-muted">March</div>
                                         </td>
                                         <td class="agenda-time">
                                             7:00 PM - 8:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">21</div>
                                             <div class="dayofweek">Tuesday</div>
                                             <div class="shortdate text-muted">March</div>
                                         </td>
                                         <td class="agenda-time">
                                             7:00 PM - 8:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">04</div>
                                             <div class="dayofweek">Tuesday</div>
                                             <div class="shortdate text-muted">April</div>
                                         </td>
                                         <td class="agenda-time">
                                             7:00 PM - 8:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="agenda-date" class="active" rowspan="1">
                                             <div class="dayofmonth">18</div>
                                             <div class="dayofweek">Tuesday</div>
                                             <div class="shortdate text-muted">April</div>
                                         </td>
                                         <td class="agenda-time">
                                             7:00 PM - 8:00 PM
                                         </td>
                                         <td class="agenda-events">
                                             <div class="agenda-event">
                                               Vinyasa Flow
                                             </div>
                                         </td>
                                     </tr>
                                   </tbody>
                                 </table>
                             </div>
             </div>
             <!-- sima naptar 2 end -->
        </div>
      </div>
    </div>




    <!-- sima naptar 1 start -->

                                 <!-- sima naptar 1 end -->

                                <!-- NEPISZKALD :) Multiple events in a single day (note the rowspan) -->
                                <!-- <tr>
                                    <td class="agenda-date" class="active" rowspan="3">
                                        <div class="dayofmonth">24</div>
                                        <div class="dayofweek">Thursday</div>
                                        <div class="shortdate text-muted">July, 2014</div>
                                    </td>
                                    <td class="agenda-time">
                                        8:00 - 9:00 AM
                                    </td>
                                    <td class="agenda-events">
                                        <div class="agenda-event">
                                            Client Appointment
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="agenda-time">
                                        10:15 AM - 12:00 PM
                                    </td>
                                    <td class="agenda-events">
                                        <div class="agenda-event">
                                            Meeting with Clients
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="agenda-time">
                                        7:00 - 9:00 PM
                                    </td>
                                    <td class="agenda-events">
                                        <div class="agenda-event">
                                            Conference
                                        </div>
                                    </td>
                                </tr> -->

                            <!-- sima naptar 2 start  -->


    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
    <div class="general-text">
        <p class="pink-text">
          Please bring your mat with you, a bottle of water and a small towel.
        Wear comfortable clothes in which you can move freely.
        </p>
    </div>
    <div class="space row">
    <!-- potential text or just spacing -->
    </div>
    <div class="row">
      <div class="classes-location general-text col-lg-6 col-md-6 col-sm-6">
        <p class="first-line">Locations</p>
        <p id="fitzrovia_map"><b><u>The Fitzrovia Community Centre</u></b>,<br/> 2 Foley Street, London W1W 6DL</p>
        <p class="text-medium">(Within 5 minutes walk from Oxford Circus, Tottenham Court Road, Warren Street and Goodge Street tube stations.)</p>
        <p id="library_map"><b><u>Friern Barnet Community Library</u></b>,<br/> Friern Barnet Rd, London N11 3DS</p>
      </div>
      <div id="map-container" class="col-lg-6 col-md-6 col-sm-6">
      </div>
    </div>
    <div class="space row">
    <!-- potential text or just spacing -->
    </div>
    <div class="row">
      <div class="general-text additional-info col-lg-6 col-md-6 col-sm-6">
        <div class="space row">
        <!-- potential text or just spacing -->
        </div>
        <p class="private-class pink-text">Private session and corporate classes are available upon request.
        For further information please do not hesitate to contact me.
        </p>
      </div>
    </div>
    <div class="space row">
    <!-- potential text or just spacing -->
    </div>
    <div class="row">
      <div class="yogahub pull-right">
        <a href="http://www.yogahub.co.uk/listing/tirnmfkcfkq_3845"><img src="http://www.yogahub.co.uk/images/find-yoga-120x60.jpg" border="0" alt="Find us on  Yoga Hub | SzonjaYoga" width="120" height="60" /></a>
      </div>
    </div>
  </div>
  <p class="made-by">
    made by @katkelemen
  </p>
</div>
