<div class="outer-container container-fluid">
  <div class="inner-container">

    <div class="row">
	      <div class="general-text additional-info col-lg-push-3 col-lg-6 col-md-6 col-sm-6">
	      	<div class="space row">
	        <!-- potential text or just spacing -->
	        </div>
	      	<p class="center-class">Wednesday, GoMammoth, 8-9 pm, <a href="https://www.gomammoth.co.uk/" style="text-decoration:underline;">sign up here for your next class</a></p>
					<p class="center-class">Thursday, Fitzrovia Community Centre, 6-7 pm</p>
	        <div class="space row">
	        <!-- potential text or just spacing -->
	        </div>
	        <p class="center-class pink-text">All levels are welcome!</p>
        	<p class="center-class pink-text">Please bring your mat with you, a bottle of water and a small towel.</p>
        	<p class="center-class pink-text">Wear comfortable clothes in which you can move freely.</p>
					<div class="space row">
	        <!-- potential text or just spacing -->
	        </div>
        	<img class="img-responsive" src="/assets/pictures/csopi.jpg" alt="group">
        	<div class="space row">
	        <!-- potential text or just spacing -->
	        </div>
	        <p class="center-class pink-text">Private session and corporate classes (Chair based or flow classes) are available upon request. For further information please do not hesitate to contact me.
	        </p>
	      </div>
    </div>
    <div class="space row">
	    <!-- potential text or just spacing -->
	</div>

  </div><!-- closes inner-container -->
</div><!-- closes outer-container -->
