<!-- <img class="img-responsive" src="/assets/pictures/szonja2.JPG" alt="szonja2" /> -->
<div class="outer-container container-fluid">
  <div class="inner-container">


  	<div id="timetable" class="row">
      <div class="general-text yoga-text">
        <p class="first-line">
			Timetable
        </p>
        <p>
			<div class="container">


		      <ul class="nav nav-tabs">
		        <li class="active"><a data-toggle="tab" href="#fitzrovia">Fitzrovia Community Centre</a></li>
		        <li><a data-toggle="tab" href="#library">Friern Barnet Community Library</a></li>
		      </ul>

		      <div class="tab-content">

		        <div id="fitzrovia" class="tab-pane fade in active">
		            <div class="general-text agenda">
		                        <div class="table-responsive">
		                            <table class="table">
		                                <thead>
		                                     <tr>
		                                         <th>Dates 2017</th>
		                                         <th>Time</th>
		                                         <th rowspan="2">Class</th>
		                                     </tr>
		                                </thead>
		                                <tbody>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">03</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">August</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">07</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">August</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">10</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">August</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">31</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">August</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">04</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">September</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">07</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">September</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">11</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">September</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">14</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">September</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">18</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">September</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">21</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">September</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">25</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">September</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">28</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">September</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">02</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">October</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">05</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">October</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">09</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">October</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">12</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">October</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">16</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">October</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">23</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">October</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">26</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">October</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">30</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">October</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">02</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">November</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">06</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">November</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">09</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">November</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">13</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">November</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">16</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">November</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">20</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">November</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">23</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">November</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">27</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">November</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">30</div>
		                                             <div class="dayofweek">Thursday</div>
		                                             <div class="shortdate text-muted">November</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                                                          <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">04</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">December</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">07</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">December</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                     <tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofmonth">11</div>
		                                             <div class="dayofweek">Monday</div>
		                                             <div class="shortdate text-muted">December</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             6:00 PM - 7:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Vinyasa Flow
		                                             </div>
		                                         </td>
		                                     </tr>
		                                </tbody>
		                            </table>
		                        </div>
		            </div>
		        </div><!-- closes fitzrovia -->

		        <div id="library" class="tab-pane fade">
		          <div class="general-text agenda">
		                         <div class="table-responsive">
		                             <table class="table">
		                                 <thead>
		                                     <tr>
		                                         <th>Dates 2017</th>
		                                         <th>Time</th>
		                                         <th rowspan="2">Class</th>
		                                     </tr>
		                                 </thead>
		                                 <tbody>
												<tr>
		                                         <td class="agenda-date" class="active" rowspan="1">
		                                             <div class="dayofweek">Every Tuesday and Wednesday</div>
		                                         </td>
		                                         <td class="agenda-time">
		                                             7:00 PM - 8:00 PM
		                                         </td>
		                                         <td class="agenda-events">
		                                             <div class="agenda-event">
		                                               Hatha Yoga
		                                             </div>
		                                         </td>
		                                     </tr>
		                                   </tbody>
		                                 </table>
		                             </div>
		             </div>
		        </div><!-- closes library -->

		      </div>
		    </div><!-- closes container -->
        </p>
      </div>
    </div>

	<div class="general-text">
        <p class="pink-text">All levels are welcome!</p>
        <p class="pink-text">Please bring your mat with you, a bottle of water and a small towel.</p>
        <p class="pink-text">Wear comfortable clothes in which you can move freely.</p>
    </div>

    <div id="prices" class="row">
      <div class="general-text yoga-text">
        <p class="first-line">
			Prices
        </p>
        <div class="general-text col-lg-6 col-md-6 col-sm-6" style="text-align: center; border-right: 1px solid grey">
        	<p style="color: #555">The Fitzrovia Community Centre</p>
        	<p>1 Month pass: £70</p>
        	<p>5 classes for: £45</p>
        	<p>Drop-in class: £12</p>
        </div>
        <div class="general-text col-lg-6 col-md-6 col-sm-6" style="text-align: center">
        	<p style="color: #555">Friern Barnet Community Library</p>
        	<p>Drop-in class: £5</p>
        	<p>Half of this is donated to the library!</p>
        </div>
      </div>
    </div>
    <div id="locations" class="row">
      <div class="general-text yoga-text">
        <p class="first-line">
			Locations
        </p>
        <div class="classes-location general-text col-lg-6 col-md-6 col-sm-6">
	        <p id="fitzrovia_map"><b><u>The Fitzrovia Community Centre</u></b>,<br/> 2 Foley Street, London W1W 6DL</p>
	        <p class="text-medium">(Within 5 minutes walk from Oxford Circus, Tottenham Court Road, Warren Street and Goodge Street tube stations.)</p>
	        <p id="library_map"><b><u>Friern Barnet Community Library</u></b>,<br/> Friern Barnet Rd, London N11 3DS</p>
	    </div>
	    <div id="map-container" class="col-lg-6 col-md-6 col-sm-6">
	    </div>
      </div>
    </div>
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>

    <div class="row">
	      <div class="general-text additional-info col-lg-push-3 col-lg-6 col-md-6 col-sm-6">
	        <div class="space row">
	        <!-- potential text or just spacing -->
	        </div>
	        <p class="private-class pink-text">Private session and corporate classes are available upon request.
	        For further information please do not hesitate to contact me.
	        </p>
	      </div>
    </div>
    <div class="space row">
	    <!-- potential text or just spacing -->
	</div>

  </div><!-- closes inner-container -->
</div><!-- closes outer-container -->
