{{>header}}
<!-- <img class="img-responsive" src="/assets/pictures/szonja2.JPG" alt="szonja2" /> -->
<div class="outer-container container-fluid">
  <div class="inner-container">
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
    <div class="row">
      <div class="contact-image col-lg-6 col-md-6 col-sm-6">
        <figure class="contact-figure">
          <img class="main-img img-responsive" src="/assets/pictures/drawing.jpg" alt="meditate" />
          <figcaption class="contact-pic-caption">by Liana Muntean</figcaption>
        </figure>
      </div>
      <div class="general-text contact-text col-lg-6 col-md-6 col-sm-6">
        <div class="row margin-pls">
          <span class="first-line">tel:</span>
            07944685781
        </div>
        <div class="row margin-pls">
          <span class="first-line">mail:</span>
            <my-email data-user="soniayoga15" data-domain="gmail.com">@</my-email>
        </div>
        <div class="row margin-pls social-margin-pls">
          <div class="social-contacts">
            <a href="https://twitter.com/SzonjaYoga" target="_blank"><img src="assets/pictures/social_media/Twitter-Bird-2.png" alt="twitter" /></a>
          </div>
          <div class="social-contacts">
            <a href="https://www.instagram.com/szonjayoga/" target="_blank"><img src="assets/pictures/social_media/Instagram.png" alt="instagram" /></a>
          </div>
          <div class="social-contacts">
            <a href="https://www.facebook.com/SzonjaYoga" target="_blank"><img src="assets/pictures/social_media/Facebook.png" alt="facebook" /></a>
          </div>
          szonjayoga
        </div>

      </div>
    </div>
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
  </div>
  <p class="made-by">
    made by @katkelemen
  </p>
</div>
