<div class="outer-container container-fluid">
  <div class="inner-container">
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
    <div class="row">
      <p class="title-text" style="color: black;">
        September, 2018 
      </p>
      <p class="title-text" style="color: grey; font-size: 30px">
        Friday, 14. - Monday, 17.
      </p>
    </div>
    <div class="row">
      <div class="general-text yoga-text col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
        <p class="first-line text-center">4 days relax and recharge yoga holiday <br>in the picturesque Italian countryside</p>
      </div>
      <div class="general-text yoga-text col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
        <a target="blank" href="https://www.eventbrite.co.uk/e/4-days-relax-and-recharge-yoga-holiday-in-the-picturesque-italian-countryside-tickets-44806706064">
          <p class="text-center">
            Click here for details and tickets
          </p>
          <p class="text-center">
            <img src="./assets/pictures/eventbrite-logo-vector.png" alt="buy tickets on eventbrite" style="height: 180px; width: 180px; position: relative; top: -73px;"/>
          </p>
        </a>  
      </div>
    </div>

    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
  </div>
</div>
