{{>header}}
<!-- <img class="img-responsive" src="/assets/pictures/szonja2.JPG"  /> -->
<div class="outer-container container-fluid">
  <div class="inner-container">
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
    <div class="row">
      <p class="title-text" style="color: black;">
        2017, Summer retreat
      </p>
    </div>
    <div class="row">
      <div class="general-text yoga-text col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
        <p class="first-line">5 days relax and unwind yoga retreat with farm experience and tours in the picturesque Liguria, Italy</p>
      </div>
      <div class="general-text yoga-text col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
        <p>
          SzonjaYoga and Campo di Luna agriturismo invites you to a unique yoga retreat held in the amazing Ligurian countryside in Italy. This place is a hidden gem on the top of the hills, close to the Ligurian sea where you can get away from the busy and stressful
          weekdays. During your stay in the farm you can relax and recharge in the peaceful tranquility, take part in meditation and yoga classes, enjoy delicious homemade Italian meals, ramble around the beautiful forest and olive fields, explore and
          wander around all the beauty this region can offer.
        </p>

      </div>
    </div>
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
      <ul class="retreat-gallery">
        <li>
          <img src="/assets/pictures/2017_retreat/0.jpeg">
        </li>
        <li>
          <img src="/assets/pictures/2017_retreat/1.jpeg">
        </li>
        <li>
          <img src="/assets/pictures/2017_retreat/3.jpeg">
        </li>
        <li>
          <img src="/assets/pictures/2017_retreat/4.jpeg">
        </li>
        <li>
          <img src="/assets/pictures/2017_retreat/5.jpeg">
        </li>
        <li>
          <img src="/assets/pictures/2017_retreat/6.jpeg">
        </li>
        <li>
          <img src="/assets/pictures/2017_retreat/7.jpeg">
        </li>
        <li>
          <img src="/assets/pictures/2017_retreat/8.jpeg">
        </li>
        <li>
          <img src="/assets/pictures/2017_retreat/9.jpeg">
        </li>
        <li>
          <img src="/assets/pictures/2017_retreat/10.jpeg">
        </li>
      </ul>
    </div>


    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
  </div>
  <p class="made-by">
    made by @katkelemen
  </p>
</div>
