{{>header}}
<!-- <img class="img-responsive" src="/assets/pictures/szonja2.JPG" alt="szonja2" /> -->
<div class="outer-container container-fluid">
  <div class="inner-container">
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
    <div class="row">
      <p class="title-text">
        Join us for an inspiring yoga class and feel energised, cleansed and balanced.
      </p>
    </div>
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>

    <div class="container carousel-container">
      <br>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="img-responsive" src="/assets/pictures/forest.jpg" alt="img1">
          </div>

          <div class="item">
            <img class="img-responsive" src="/assets/pictures/Y.jpeg" alt="img2">
          </div>

          <div class="item">
            <img class="img-responsive" src="/assets/pictures/dom.jpg" alt="img3">
          </div>

          <div class="item">
            <img class="img-responsive" src="/assets/pictures/meditate.png" alt="img4">
          </div>


        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>


    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
  </div>
</div>
