{{>header}}
<!-- <img class="img-responsive" src="/assets/pictures/szonja2.JPG" alt="szonja2" /> -->
<div class="outer-container container-fluid">
  <div class="inner-container">
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
    <div class="row">
      <div class="yoga-image col-lg-6 col-md-6 col-sm-6">

          <img class="main-img img-responsive" src="/assets/pictures/yoga.png" alt="yoga" />

      </div>
      <div class="general-text yoga-text col-lg-6 col-md-6 col-sm-6">
        <p>
          <span class="first-line">Cupcake ipsum dolor sit amet.</span>  I love macaroon marzipan cookie cotton candy tiramisu soufflé. Icing dessert oat cake cookie gingerbread gummi bears.
          Jelly beans pastry cookie. Chocolate cake tiramisu icing sugar plum. Carrot cake brownie cake muffin powder.
          Macaroon croissant halvah sugar plum. Cupcake croissant pie toffee.
      </div>
    </div>
    <div id="vinyasa" class="row">
      <div class="general-text yoga-text col-lg-8 col-md-8 col-sm-8">
        <p class="first-line">
          Vinyasa Flow
        <p>
          A dynamic style yoga where the breath and the movement are synchronised
        </p>
      </div>
    </div>
    <div id="special" class="row">
      <div class="general-text yoga-text col-lg-8 col-md-8 col-sm-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
        <p class="first-line pull-right">
          Special Yoga for Special Children
        <p class="pull-right">
          Yoga for Special Children is multi-level comprehensive Program of Yoga techniques designed to enhance the natural development of children with special needs.
        </p>
      </div>
    </div>
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
  </div>
</div>
