{{>header}}
<!-- <img class="img-responsive" src="/assets/pictures/szonja2.JPG" alt="szonja2" /> -->
<div class="outer-container container-fluid">
  <div class="inner-container">
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
    <div class="row">
      <div class="yoga-image col-lg-6 col-md-6 col-sm-6">

          <img class="main-img img-responsive" src="/assets/pictures/yoga.png" alt="yoga" />

      </div>
      <div class="general-text yoga-text col-lg-6 col-md-6 col-sm-6">
          <p class="first-line">Why should you practice yoga?</p>  The word ‘yoga’ means ‘to unite’ which refers to the union with the divine and also unite of the mind,

body and spirit. The history of yoga stretches back about 5000 years in India where the exercises and

poses were more about to prepare the body for the long, seated mediations. Yoga is a discipline and

also a philosophy.

<p>Yoga is not just about working on placing one leg behind the head whilst being upside down poses.

Regular practice is able to give much more than flexibility and a stronger body. The good news is that

people can do yoga regardless their ages, sizes, shapes and abilities and adapt it to suit their

individual needs.</p>
      </div>
    </div>
    <div class="row">
      <div class="general-text yoga-text col-lg-12 col-md-12 col-sm-12">
          <p class="first-line">So what can yoga offer?</p>
          Regular yoga practice <i class="pink-text">tones, strengthens and stretches the muscles</i>. It also increases the

proprioception and <i class="pink-text">improves balance</i>. During the day many people have poor posture which can

cause neck, back pain and other muscular and join problems. I am sure we all know someone who sits

hours at a table in front of a computer…  With a daily yoga practice you can <i class="pink-text">relieve</i> your <i class="pink-text">body pain</i>

and <i class="pink-text">perfect your posture</i>.

<p>Yoga poses, pranayama (breathing techniques) and meditation are all effective techniques to <i class="pink-text">release

the stress, fear and anxiety</i> of modern life. Due to this fact, yoga <i class="pink-text">improves sleep quality</i> and helps

people with insomnia.</p>

<p>Another benefit of yoga is that it <i class="pink-text">boosts your immunity</i> as well. Everything is connected, as you start

to focus on your breath and your movements, you allow your mind to be in the present moment, you

<i class="pink-text">calm your mind</i>, you release stress and your immunity becomes better. As a result of being in tune

with your body, helps to <i class="pink-text">increase your self-confidence</i>. Simply and shortly yoga <i class="pink-text">makes you

happier.</i></p>
      </div>
    </div>
    <div id="vinyasa" class="row">
      <div class="general-text yoga-text col-lg-8 col-md-8 col-sm-8">
        <p class="first-line">
          Vinyasa Flow
        </p>
        <p>
          Vinyasa Flow is a dynamic style yoga where breath and movements are synchronised. The poses are

smoothly and gracefully linked into each other and they become like a dance. Because of its pace it

requires the mind to stay in the present moment.
        </p>
        <p>
          Vinyasa Flow Yoga as other styles of yoga has physical and mental benefits. Just a few examples of

many: relaxes the nervous system, improves brain function, strengthens muscles and increases

flexibility.
        </p>
        <p>
          I find it really important to give options and variations during my classes as well as lots of cues and

alignments. In this way everyone can choose the option which feels the best for him/her in that

moment.
        </p>
        <p>
          I love motivating others to succeed and intend to create a safe environment for my students in order to

support inward focus and observation of the body, mind and spirit.
        </p>
      </div>
    </div>
    <div id="special" class="row">
      <div class="general-text yoga-text col-lg-8 col-md-8 col-sm-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
        <p class="first-line pull-right">
          Special Yoga for Special Children
        </p>
        <p class="pull-right">
            Yoga can be really beneficial for children whether they have special needs or not. During yoga

  sessions I teach different yoga poses, pranayama (breathing techniques) and relaxation. Every

  element of the session is tailor-made to individual needs and abilities. I believe that it is important to

  create a safe, calm and quiet environment for children that will helps them to feel relaxed and secure.

  This state is ideal for positive changes.
          </p>
      </div>
    </div>
    <div class="space row">
      <!-- potential text or just spacing -->
    </div>
  </div>
  <p class="made-by">
    made by @katkelemen
  </p>
</div>
