@font-face {
    font-family: GillSans;
    src: url(/assets/fonts/GillSans.ttc);
}

@font-face {
    font-family: SignPainter;
    src: url(/assets/fonts/SignPainter.otf);
}

/*chrome*/
::-webkit-scrollbar {
  display: none;
}

html {
  overflow: -moz-scrollbars-none;
  position: relative;
  min-height: 900px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
  font-family: GillSans;
}

.made-by {
  float: right;
  font-size: small;
  color: #fff;
  padding: 0;
  margin: 0;
}

.general-text {
  text-align: justify;
  font-size: large;
  line-height: 1.8;
}

.title-text {
  font-family: SignPainter;
  color:  #d42b81;
  font-size: 3em;
  text-align: center;
}

.text-medium {
  font-size: medium;
}

.first-line {
  font-family: SignPainter;
  color:  #d42b81;
  font-size: 35px;
}

.main-img {
  width: 80%;
  height: auto;
  border: solid 2px #d42b81;
  margin: auto;
}

/*home view css*/


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }


.outer-container {
  padding: 7px;
  width: 100vw;
  min-height: 100vh;
  background-image: url(/assets/pictures/szonja2opaq2.jpg);
  background-size: cover;
  background-position: center;
}

.inner-container {
    min-height: 100vh;
    padding-right: 7vw;
    padding-left: 7vw;
    padding-top: 20px;
    padding-bottom: 120px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255,255,255,0.7);
}

.space {
  height: 5vw;
}

/*classes view css*/

.pink-text {
  color: #d42b81;
}

.classes-price p {
  padding-left: 35%;
}

.classes-price .first-line {
  padding-left: 0px;
}

.classes-location p {
  padding-right: 30px;
}

.private-class {
  text-align: center;
}

.contact-pic-caption {
  color: #d42b81;
  position: relative;
  left:432px;
  bottom: 21px;
}

.classes-location .first-line {
  text-align: left;
}
  /*map*/

#map-container {
  margin-top: 20px;
  height: 300px;
  border: solid 2px #d42b81;
}

  /* Dates */

.agenda .agenda-date {
    vertical-align: middle;
    width: 60px;
}

.agenda .agenda-date .dayofmonth {
    width: 40px;
    font-size: 36px;
    line-height: 36px;
    float: left;
    text-align: right;
    margin-right: 10px;
}

.agenda .agenda-date .shortdate {
    font-size: 0.75em;
}
  /* Times */

.agenda .agenda-time {
    vertical-align: middle;
    min-width: 60px;
    width: 100px;
}
  /* Events */

.agenda .agenda-events {
  vertical-align: middle;
  min-width: 60px;
  width: 100px;
}

.agenda .agenda-events .agenda-event {}

@media (max-width: 767px) {
  .table-responsive>.table>tbody>tr>td {
    white-space: normal;
  }
}

/*yoga view css*/

.yoga-text {
  margin-top: 3em;
}

.yoga-image .main-img {
  width: 90%;
  height: auto;
  margin-left:0;
}

/*about me view css*/

/*contact view css*/

.social-contacts {
  display: inline;
}

.social-contacts a {
  display: inline-block;
  background-color: #d42b81;
  border-radius: 20%;
}

.margin-pls {
  margin-top: 2em;
}

.margin-pls .first-line {
  margin-right: 0.3em;
}

.social-margin-pls {
  margin-top: 3em;
}

my-email::after {
  content: attr(data-domain);
}
my-email::before {
  content: attr(data-user);
}
