/* Sticky footer styles
-------------------------------------------------- */

.footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background: rgb(113, 207, 207); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(113, 207, 207, 1),rgba(201,0,103, 0.7)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(113, 207, 207, 1),rgba(201,0,103, 0.7)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(113, 207, 207, 1),rgba(201,0,103, 0.7)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(113, 207, 207, 1),rgba(201,0,103, 0.7)); /*Standard*/
}

.social {
  display: inline-block;
}

.ryt {
  height: 90px;
  width: 90px;
}
