/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}
.footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background: rgb(113, 207, 207); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(113, 207, 207, 1),rgba(113, 207, 207, 0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(113, 207, 207, 1),rgba(113, 207, 207, 0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(113, 207, 207, 1),rgba(113, 207, 207, 0)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(113, 207, 207, 1),rgba(113, 207, 207, 0)); /*Standard*/
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

code {
  font-size: 80%;
}

.ryt {
  height: 90px;
  width: 90px;
}
