<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content = "width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/assets/css/sticky-footer.css" rel="stylesheet">
    <link href="/assets/css/header-navbar.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <!-- made by katkelemen -->
    <meta name="google-site-verification" content="HppkhX2klxwnaLXULGC88UT17M3BcD98ib9GTbjkVi0" />
    <meta name="description" content="Homepage of Szonja, who is a dedicated yoga instructor based in London, helding Vinyasa Flow, Special Yoga for Special Children or private classes.">
    <title>Szonja Yoga in London</title>
  </head>
  <body>

    {{>header}}

    {{{content}}}



    <footer class="footer">
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
    	  		<img class="ryt" src="/assets/pictures/YA-Badge-Associate1-blue.png" alt="registered yoga teacher logo" />
      		</div>
    		<div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
      			<span class="footer-subtext">
					Szonja is a registered teacher with Yoga Alliance UK. <br/>This accreditation demonstrates excellent standards as set by Yoga Alliance UK.
	  			</span>
	  			<p>
	  			  <a href="http://www.yogahub.co.uk/listing/tirnmfkcfkq_3845">
	        		Find us on Yoga Hub | SzonjaYoga
	        		<!-- <img src="http://www.yogahub.co.uk/images/find-yoga-120x60.jpg" border="0" alt="Find us on  Yoga Hub | SzonjaYoga" width="120" height="60" /> -->
	    		  </a>
	  			</p>

	  		</div>
      		<div class="social col-lg-4 col-md-4 col-sm-4 col-xs-3">
	    		<a class="pull-right" href="https://www.facebook.com/SzonjaYoga" target="_blank"><img src="assets/pictures/social_media/Facebook.png" alt="facebook" /></a>
        		<a class="pull-right" href="https://www.instagram.com/szonjayoga/" target="_blank"><img src="assets/pictures/social_media/Instagram.png" alt="instagram" /></a>
      		</div>
    	</div>
    </div>
    </footer>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js" crossorigin="anonymous"></script>
  <script src="/assets/js/default.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="/assets/js/map.js" type="text/javascript"></script>
  <script src="/assets/js/jquery.mousewheel.min.js" type="text/javascript"></script>
</html>
